/**
 * @name BorderRadiant (partial)
 * @author Saltssaumure#7557
 * @description Removes rounded corners from Discord. Please download the autoupdating version from GitHub!
 * @version 1
 * @source https://github.com/Saltssaumure/borderradiant-discord-theme
 * @website https://saltssaumure.github.io/borderradiant-discord-theme
*/

.assetWrapperMasked-1iw9lV,
.inspectedIndicator-27zwNZ,
foreignObject[mask*="url(#"]
{
    mask: none;
    -webkit-mask: none;
}

.accountList-Wii_T5,
.accountProfileCard-lbN7n-,
.appAvatar-2htirv,
.artContainer-1yaXct,
.audioControls-3fmemK,
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track,
.avatar-2e8lTP,
.avatar-3FKimL,
.avatar-3TrM7c,
.avatarHoverTarget-1zzfRL,
.avatarWrapper-eenWra,
.background-3d_SjE,
.backgroundOptionInner-SSz19O,
.backgroundOptionRing-1vvQ0C,
.badge-370Op6,
.banner-3D8GgT,
.banner-ppi-o1,
.bar-1Bhnl9,
.bar-2eAyLE,
.bar-H6j3_Q,
.baseShapeRound-3epLEv,
.bd-addon-list .bd-addon-card,
.bd-button,
.bd-controls>.bd-addon-button:first-of-type,
.bd-controls>.bd-addon-button:last-of-type,
.bd-number-input,
.bd-search-wrapper,
.bd-select .bd-select-options,
.bd-select,
.blockquoteContainer-3VtvI1 .blockquoteDivider-363utW,
.box-BHImcZ,
.bubble-3XikHF,
.button-1_oXub,
.button-12Fmur,
.button-1yVL_7,
.button-3Vyz67,
.button-cfOvv-,
.button-f2h6uQ,
.calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous,
.calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
.cameraWrapper-3a7Ngv,
.card-16VQ8C,
.card-2TuZPZ,
.card-8UsK4b,
.card-m7VgZ8,
.cardIcon-1d-mcG:before,
.cardWrapper-1bSePP,
.categoryFade-3RRG67, .categoryFadeBlurple-1l49_Q,
.categoryItemDefaultCategory-3haEDq,
.channelContainer-3YAhb_,
.channelTextArea-1VQBuV,
.checkbox-1ycfTw .checkboxInner-1aRh1d span,
.closeButton-PCZcma,
.connection-YOVI9j,
.connectionHeader-Ixbb1s,
.container-18GwIk,
.container-1ILvLB,
.container-1SX9VC,
.container-1wv6C6,
.container-2McqkF,
.container-2oNtJn,
.container-2rzKKA,
.container-30qY7E,
.container-3i3IzO,
.container-x8Y1ix,
.containerBackground-Ang24O,
.content-1gYQeQ,
.content-1Tgc42,
.content-2hZxGK,
.content-3spvdd,
.content-FDHp32 ul li:before,
.contentWrapper-3vHNP2,
.contextMenuNub-NuTZ_U,
.ctaBar-Nhk8yY,
.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l,
.diversitySelectorOptions-3DhNYs,
.dotOnline-j08lOY,
.embed-hKpSrO,
.embedAuthorIcon-3pnkS4,
.embedImage-2Ynqkh img,
.embedImage-2Ynqkh video,
.embedMedia-1mdWSP,
.embedThumbnail-2nTasl img,
.embedThumbnail-2nTasl video,
.embedVideo-2ixt5A img,
.embedVideo-2ixt5A video,
.emojiItem-277VFM,
.emptyChannelIcon-1YdEz2,
.executedCommandAvatar-3oOnb1,
.expandedFolderBackground-1kSAf6,
.fakeActivityIcon-KeXVoI,
.fakeEdges-18N907:after,
.fakeEdges-18N907:before,
.feature-2IUcBI,
.folderIconWrapper-1oRIZr,
.footer-31IekZ,
.gameIcon-1mDo1J,
.gemIndicatorContainer-PqApbX,
.gif-2kTiNB,
.grabber-2GQyvM,
.guildIconExpired-2BFmZC,
.header-1zd7se,
.headerImage-1c8Lrb,
.headerImage-2D5D-v,
.hero-1aNo0v,
.hljs,
.html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb,
.icon-39rdLt,
.icon-mJhEWn,
.iconActiveLarge-ac-EDu,
.iconActiveMedium-27_R5B,
.iconActiveMini-1h3oNi,
.iconContainer-6xlTpK,
.iconInactive-26M06U,
.iconWrapper-3plkqh,
.imageUploaderIcon-2OHmFu,
.imageUploaderInner-IIRaFr,
.imageWrapper-oMkQl4,
.indicator-1zNk1M,
.inner-1lPVFp,
.input-2g-os5,
.inset-SbsSFp,
.item-1OdjEX,
.item-2idW98,
.item-2LIpTv,
.item-2OyinQ:first-child,
.item-2OyinQ:last-child,
.jumpButton-1V_1FA,
.jumpButton-1ZwI_j,
.jumpToPresentBar-1cEnH0,
.keybindShortcut-3zF1P9 span,
.layout-1qmrhw,
.liveShapeRound-2Tgi2d,
.markup-eYLPri code.inline,
.markup-eYLPri pre,
.mediaBarGrabber-FvJKJg,
.mediaBarInteractionVolume-zGrOSh,
.membershipDialog-2wAdpQ,
.mention,
.menu-1QACrS,
.messageContainer-3VTXBC,
.messageGroupWrapper-1jf_7C,
.messagesPopoutWrap-3zryHW,
.newMessagesBar-1hF-9G,
.noiseCancellationPopout-2-e5Xz,
.notDetected-M3Ghh2,
.notice-1Qe0b_,
.notice-5OG6bf,
.nowPlaying-3UpuKc,
.option-1QI4c9,
.option-ayUoaq,
.outer-2JOHae,
.overlayTitle-2efoIF,
.pencilContainer-18TrEJ,
.perk-19D_HN,
.perks-2IIbWQ,
.pictureInPictureVideo-2puO2Q,
.pictureInPictureWindow-3ms5Zy,
.platform-win .sidebar-1tnWFu,
.popout-1KHNAq,
.popout-TdhJ6Z,
.popoutContainer-2wbmiM,
.previewMessage-2g_aBv,
.profileBadge-12r2Nm:before,
.profileBannerPreview-3mLIdO,
.px-MnE_OR.botTag-7aX5WZ,
.qualitySettingsContainer-2LjkfM,
.radioBar-3w9XY-,
.reaction-2A2y9y,
.rem-3kT9wc.botTag-7aX5WZ,
.repliedMessage-3Z6XBG:before,
.replyAvatar-sHd2sU,
.replyBadge-LMm_Ic,
.result-pzZrwj,
.result-pzZrwj:after,
.root-g14mjS,
.row-1qtctT,
.rsvpCount-iCkObl,
.scrollableContainer-15eg7h,
.search-2Mwzzq .DraftEditor-root .DraftEditor-editorContainer,
.searchAnswer-23w-CH,
.searchBar-jGtisZ,
.searchBox-pyIJJj,
.searchFilter-2UfsDk,
.searchResult-O9NDji,
.select-1Ia3hD,
.side-2ur1Qk .item-3XjbnG,
.size24-9rrwDS .moreUsers-_v6T-L,
.sourceThumbnail-ERDcZE,
.spine-2vt3pM,
.spoilerText-27bIiA,
.status-15kcmy,
.sticker-H2HhJD,
.stickerCategory-2f6iSo,
.thin-31rlnD::-webkit-scrollbar-thumb,
.threadMessageAccessoryAvatar-17qE_g,
.thumbnail-1UKMQa,
.tier-lFqDUs,
.tier-R8h9Y_,
.tierBody-3ju-rc,
.tierHeader-wgo0w_,
.tierWrapper-CsnudO,
.tile-2TcwiO,
.tooltip-14MtrL,
.topPill-3DJJNV .item-3XjbnG,
.unread-36eUEm,
.unreadPill-3nEWYM,
.upsellContainer-3qKRln,
.userPopout-2j1gM4,
.video-8B-TdZ,
.videoWrapper-1_H3B3,
.wrapper-1FP9YQ,
.wrapper-1HIH0j,
.wrapper-1VLyxH,
.wrapper-2fEmwW,
.wrapper-2SplAX,
.wrapper-2vIMkT,
.wrapper-3Zq_cJ,
.wrapper-SdcMKg,
.wrapper-x4po40,
.wrapperSimple-Js2rIO,
.ytp-impression-link,
.ytp-popup,
.ytp-title-channel-logo,
.ytp-title-channel,
.ytp-tooltip-image,
.ytp-tooltip-text-wrapper,
.ytp-tooltip-text
{
    border-radius: 0;
}

.liveIndicator-3bhXBF
{
    border-radius: 0!important;
}